@media only screen and (max-width: 600px) {
    .card h3 {
      font-size: 1.5rem; /* adjust font size for mobile */
      line-height: 1.5rem; /* adjust line height for mobile */
    }
    .card h4 {
      font-size: 0.8rem; /* adjust font size for mobile */
      line-height: 1rem; /* adjust line height for mobile */
    }
  }


 /* signup page css */

 /* src/components/Signup.css */
.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signup-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
}

.signup-form h2 {
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

button {
 
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
}


